name: Calculator CI/CD

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/calculator-app:latest ./app

    - name: Docker Login
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Push Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/calculator-app:latest

  terraform:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init
      working-directory: terraform

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform

  ansible:
    needs: terraform
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Ansible
      run: sudo apt install ansible -y

    - name: Run Playbook
      run: ansible-playbook ansible/deploy.yml -i ansible/inventory.ini

